@import url(global.css);

/* Estilos específicos da página Sobre */

/* Conteúdo Principal */
main {
    padding: 40px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


main p {
    padding: 20px;
    font-size: 1.1rem;
    color: #333;
    text-align: justify;
}

/* Responsividade */
@media (max-width: 768px) {
    main {
        margin: 20px 10px;
    }
}

@media (max-width: 480px) {
    main {
        margin: 20px 5px;
    }
}